header{
    
    height: 15vh;
    display: flex;
    text-align: center;
    align-items: justify;
    
}

.form-control .auto{
    width: auto;
    margin: auto;
}

footer{
    position: fixed;
    bottom:0;
    display: inline-block;
}

.blabla{
    position:fixed;
    left:10px;
}